<!doctype html>
<html ng-app="gravaApp">
<head>
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/grava.css">
    <script src="js/grava.js"></script>
</head>
<body>
<div class="container" ng-controller="GravaController as grava">

    <h1 style="text-align: center">Grava hal game</h1>

    <div class="game-info">
        <div>Game state : {{grava.gameState == 'IN_PROGRESS' ? 'In progress' : 'Game over'}}</div>
        <div ng-show="grava.gameState == 'IN_PROGRESS'">Who's move : {{grava.turn == 'PLAYER_1' ? 'Player 1' : 'Player 2'}}</div>
        <div ng-show="grava.gameState == 'PLAYER_1_WIN'">Player 1 WON! Game is over</div>
        <div ng-show="grava.gameState == 'PLAYER_2_WIN'">Player 2 WON! Game is over</div>
        <div ng-show="grava.gameState == 'DRAW'">Draw! Game is over</div>
    </div>
    <div class="restart" ng-click="grava.reset()">RESTART</div>
    <h2 style="text-align: center"> Pits </h2>
    <div style="font-size:x-large"> &#8592  Player 1</div>
    <div class="board" ng-style="{ 'width' : grava.boardSize / 2 * 50 + 10 +'px'}">
        <div id="{{$index}}"
             ng-click="grava.move($index)"
             ng-repeat="pit in grava.pits track by $index"
             ng-class="grava.getClass($index, pit)">
            {{pit}}
        </div>
    </div>
    <div style="font-size:x-large; clear:all">Player 2 &#8594</div>
    <div class="error">{{grava.errorMessage}}</div>

    <div class="rules">
        <h2>Rules</h2>
        Each of the two players has his pits in front of him. To the right of the pits,
        each player has a larger pit, his Grava Hal. In each of the round pits are put
        some stones when the game starts.
        <p></p>
        The player who begins with the first move picks up all the stones in anyone of his
        own pits, and sows the stones on to the right, one in each of the following
        pits, including his own Grava Hal. No stones are put in the opponents' Grava Hal.
        If the player's last stone lands in his own Grava Hal, he gets another turn. This
        can be repeated several times before it's the other player's turn.
        <p></p>
        During the game the pits are emptied on both sides. Always when the last stone
        lands in an own empty pit, the player captures his own stone and all stones in the
        opposite pit (the other players' pit) and puts them in his own Grava Hal.
        <p></p>
        The game is over as soon as one of the sides run out of stones. The player who
        still has stones in his pits keeps them and puts them in his/hers Grava Hal.
        Winner of the game is the player who has the most stones in his Grava
    </div>
    <br>
</div>
</body>
</html>