.container{
    width: 450px;
    margin: 0 auto;
}


.cell {
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: 0.6;
    color: #0b0d0a;
    font-size: large;
    border-radius: 5px;

}

.player1{
    background-color: #269abc;
    float : right;
}
.player2{
    background-color: #c9302c;
    position: relative;
    top: -50px;
    left: 60px;
    float: left;
}

.grava-hal {
    background-color: #d58512;
    height: 90px;
    opacity: 1.0 !important;
}

.shiftUp {
    top: -100px;
}
.board {
    width: 360px;

}

.error {
    color: darkred;
    background-color: lightgrey;
    clear: both;
    padding: 20px;
    text-align: center;
}

.canMove {
    opacity: 1.0;
}

.game-info{
    width: 360px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: large;
    background-color: lightblue;
}
.restart{
    width: 100px;
    margin: 0 auto;
    background-color: #e4b9b9;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.rules{
        background-color: lightblue;
        clear: both;
        padding: 20px;
        margin: 40px
        text-align: left;
}

